<div class="container-fluid shadow mt-3 bg-body-tertiary">
  <div class="row row-cols-1 row-cols-md-2  row-cols-lg-3 row-cols-xl-3 row-cols-xxl-3 p-lg-5 pb-lg-0 pb-0">
    <div class="col p-3">
      <h6>ARUN MALARAVAN Portfolio</h6>
      <p>Thanks for exploring my personal portfolio website! Let's stay connected through my social media channels.
        Connect with me now!</p>
    </div>
    <div class="col p-3">
      <h6>Quick Links</h6>
      <ul class="list-group">
        <li routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="list-group-item"><i
            class="bi bi-house-check-fill px-2"></i>Home</li>
        <li routerLink="about" [routerLinkActive]="'active'" class="list-group-item"><i
            class="bi bi-file-person-fill px-2"></i>About</li>
        <li routerLink="skills" [routerLinkActive]="'active'" class="list-group-item"><i
            class="bi bi-gear-fill px-2"></i>Skills</li>
        <li routerLink="projects" [routerLinkActive]="'active'" class="list-group-item"><i
            class="bi bi-award-fill px-2"></i>Projects</li>
        <li routerLink="experience" [routerLinkActive]="'active'" class="list-group-item"><i
            class="bi bi-pin-map-fill px-2"></i>Experience</li>
        <li routerLink="education" [routerLinkActive]="'active'" class="list-group-item"><i
            class="bi bi-book-half px-2"></i>Education</li>
        <li routerLink="contact" [routerLinkActive]="'active'" class="list-group-item"><i
            class="bi bi-person-lines-fill px-2"></i>Contact</li>
      </ul>

    </div>
    <div class="col  p-3">
      <h6>Contact Info</h6>
      <p><i class="bi bi-telephone-fill px-2"></i>+91 9080747584</p>
      <p style="overflow: hidden;"><i class="bi bi-envelope-at-fill px-2"></i>saiarun3065@gmail.com</p>
      <p><i class="bi bi-geo-alt-fill px-2"></i>Chennai, TamilNadu</p>

    </div>
    <hr style="width: 100%;">

    <pre class="text-center">Copyright<i class="bi bi-c-circle px-2"></i>2023 By <i class="bi bi-hearts"></i>ARUNMALARAVAN</pre>

  </div>

</div>