<div class="row mt-3">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">CONTACT</h5>
                <form>
                    <div class="mb-3">
                        <label for="name" class="form-label"><i class="bi bi-person-heart px-2"></i>Name</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label"><i class="bi bi-envelope-at-fill px-2"></i>Email
                            address</label>
                        <input type="email" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label for="mobile_no" class="form-label"><i
                                class="bi bi-telephone-outbound-fill px-2"></i>Mobile
                            Number</label>
                        <input type="tel" class="form-control">
                    </div>
                    <div class="form-floating">
                        <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2"
                            style="height: 100px"></textarea>
                        <label for="floatingTextarea2"><i class="bi bi-chat-square-heart-fill px-2"></i>Comments</label>
                    </div>
                    <div class="d-flex justify-content-center">
                        <button class="btn btn-primary mt-3"><i class="bi bi-telegram px-2"></i>Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>