<div class="container-fluid mt-3 rounded shadow p-3">
    <h4>FRONT-END TECHNOLOGY</h4>
    <div class="row">
        <div class="col">
            <div class="card">
                <img src="assets/img/html.png" class="card-img-top mt-2" alt="html">
                <div class="card-body">
                    <p class="card-text text-center">HTML 5</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="assets/img/css.png" class="card-img-top mt-2" alt="css">
                <div class="card-body">
                    <p class="card-text text-center">CSS 3</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="assets/img/html.png" class="card-img-top mt-2" alt="...">
                <div class="card-body">
                    <p class="card-text text-center">HTML 5</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="assets/img/html.png" class="card-img-top mt-2" alt="...">
                <div class="card-body">
                    <p class="card-text text-center">HTML 5</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="assets/img/html.png" class="card-img-top mt-2" alt="...">
                <div class="card-body">
                    <p class="card-text text-center">HTML 5</p>
                </div>
            </div>
        </div>
    </div>
    <h4>BACK-END TECHNOLOGY</h4>
    <div class="row">
        <div class="col">
            <div class="card">
                <img src="assets/img/html.png" class="card-img-top mt-2" alt="html">
                <div class="card-body">
                    <p class="card-text text-center">HTML 5</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="assets/img/html.png" class="card-img-top mt-2" alt="...">
                <div class="card-body">
                    <p class="card-text text-center">HTML 5</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="assets/img/html.png" class="card-img-top mt-2" alt="...">
                <div class="card-body">
                    <p class="card-text text-center">HTML 5</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="assets/img/html.png" class="card-img-top mt-2" alt="...">
                <div class="card-body">
                    <p class="card-text text-center">HTML 5</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="assets/img/html.png" class="card-img-top mt-2" alt="...">
                <div class="card-body">
                    <p class="card-text text-center">HTML 5</p>
                </div>
            </div>
        </div>
    </div>
    <h4>DATABASE TECHNOLOGY</h4>
    <div class="row">
        <div class="col">
            <div class="card">
                <img src="assets/img/html.png" class="card-img-top mt-2" alt="html">
                <div class="card-body">
                    <p class="card-text text-center">HTML 5</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="assets/img/html.png" class="card-img-top mt-2" alt="...">
                <div class="card-body">
                    <p class="card-text text-center">HTML 5</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="assets/img/html.png" class="card-img-top mt-2" alt="...">
                <div class="card-body">
                    <p class="card-text text-center">HTML 5</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="assets/img/html.png" class="card-img-top mt-2" alt="...">
                <div class="card-body">
                    <p class="card-text text-center">HTML 5</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="assets/img/html.png" class="card-img-top mt-2" alt="...">
                <div class="card-body">
                    <p class="card-text text-center">HTML 5</p>
                </div>
            </div>
        </div>
    </div>
</div>