<ul class="list-group  mt-3 shadow mx-1 mb-3">
  <li routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="list-group-item"><i class="bi bi-house-check-fill px-2"></i>Home</li>
  <li routerLink="about" [routerLinkActive]="'active'" class="list-group-item"><i class="bi bi-file-person-fill px-2"></i>About</li>
  <li routerLink="skills" [routerLinkActive]="'active'" class="list-group-item"><i class="bi bi-gear-fill px-2"></i>Skills</li>
  <li routerLink="projects" [routerLinkActive]="'active'" class="list-group-item"><i class="bi bi-award-fill px-2"></i>Projects</li>
  <li routerLink="experience" [routerLinkActive]="'active'" class="list-group-item"><i class="bi bi-pin-map-fill px-2"></i>Experience</li>
  <li routerLink="education" [routerLinkActive]="'active'" class="list-group-item"><i class="bi bi-mortarboard-fill px-2"></i>Education</li>
  <li routerLink="contact" [routerLinkActive]="'active'" class="list-group-item"><i class="bi bi-person-lines-fill px-2"></i>Contact</li>

</ul>

