<div id="home" class="home container-fluid mt-3 rounded shadow-lg ps-lg-5 p pe-0 pb-0 mb-3 ">
  <div class="row row-cols-1 row-cols-lg-2 row-cols-xl-2 row-cols-xxl-2 align-items-center">
    <div class="col">

      <h3>Hi There,</h3>
      <h3 style="overflow: hidden;">I'm <span>Arun Malaravan</span></h3>
      <h3 style="overflow: hidden;">i'm into <span #typingText class="typing-text"></span></h3>
      <ul class="list-unstyled">
        <li><a class="linkedin" aria-label="LinkedIn" href="" target="_blank"><i class="bi bi-linkedin"></i></a></li>
        <li><a class="github" aria-label="GitHub" href="" target="_blank"><i class="bi bi-github"></i></a></li>
        <li><a class="instagram" aria-label="Instagram" href=""><i class="bi bi-instagram" target="_blank"></i></a>
        </li>
      </ul>
    </div>

    <div class="col mt-2">
      <img src="assets/img/arun7.pngb" class="img-fluid" alt="ARUN MALARAVAN">
    </div>
  </div>
</div>